/*****************************************************************************/
/* Page Layout                                                               */
/*****************************************************************************/ 

body {
	display: grid; 
	max-width: 99em;
	grid-template-columns: 800px;
	grid-template-rows: 100px auto 1fr 50px;
	grid-areas: 
		"header"
		"nav"
		"main"
		"footer";
	background-color: #45546b;
	margin-top: 0px;
	justify-content: center;
}

header {
	grid-area: "header";
	background-image: url("../img/dots.png");
	background-repeat: no-repeat;
	background-position: center top;
}

main {
	background-color: #d0d4da;
	grid-area: "main";
	padding: 2em;
	border-radius: 1em;
}

main h1 {
	font-family: Revista-Regular-custom;
}

nav {
	grid-area: "nav";
	padding: 0;
	margin: 0;	
	display: grid;
}

nav ul {
	display: flex;
	flex-direction: column;
	text-align: center;
	list-style-type: none;
	margin: 0 1em 1px 1em;
	padding: 0;
}

@media screen and (min-width: 45em) {
	nav ul {
		flex-direction: row; 
	}
}

nav li {
	flex: 1 1 0%;
	padding: 0 1px 0 0;
}

nav a {
	background-color: #d0d4da;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 0;
	margin: 0;
	border-radius: 0.5em 0.5em 0 0;
	width: 100%;
}

footer {
	grid-area: "footer";
}

/*****************************************************************************/
/* Forms                                                                     */
/*****************************************************************************/

.labeled-input {
	position: relative;
	margin: 1em 0 1em 0;
}

fieldset {
	border-color: #45546b;
	border-radius: 0.5em;
	border-width: 1px;
	border-style: solid;
}

.labeled-input label {
	background-color: #d0d4da;
	position: absolute;
	padding: 0 0.5em;
	font-size: 0.8em;
	top: -0.6em;
	left: 0.5em;
}

.labeled-input input, .labeled-input textarea {
	background-color: #d0d4da;
	border-color: #45546b;
	border-radius: 0.2em;
	border-width: 1px;
	border-style: solid;
	padding: 0.5em;
	width: 100%;
}

button {
	padding: 1em;
	background: #45546b;
	color: #d0d4da;
	border-style: none;
	border-radius: 0.5em;
}

/*****************************************************************************/
/* Misc                                                                      */
/*****************************************************************************/

*, ::before, ::after {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Revista-Regular-custom';
	src: url("../font/Revista-Regular.ttf") format('truetype')
}
